<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/mdbootstrap/css/mdb.min.css" rel="stylesheet">
    <style>
        body {
            padding-bottom: 50px;
        }

        .modal-body img {
            max-width: 100%;
            height: auto;
        }

        .modal-body iframe {
            width: 100%;
            height: 400px;
        }
    </style>
</head>

<body class="d-flex flex-column min-vh-100">
    <%- include('partials/header') %>

        <div class="container my-5">
            <h1 class="mb-4 mt-4 text-center">Uploaded Files</h1>
            <div id="file-table">
                <table class="table table-striped table-hover">
                    <thead class="table-dark">
                        <tr>
                            <th scope="col">File Name</th>
                            <th scope="col">File Type</th>
                            <th scope="col">File Size</th>
                            <th scope="col">Uploaded At</th>
                            <th scope="col">Uploaded By</th>
                            <th scope="col">Download</th>
                            <th scope="col" class="delete-column">Delete</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% if (files && files.length> 0) { %>
                            <% files.forEach(file=> { %>
                                <% if (file.uploadedBy !=='admin' ) { %>
                                    <tr>
                                        <td>
                                            <%= file.fileName %>
                                                <% if (file.friendlyFileType.includes('Image')) { %>
                                                    <i class="fas fa-image" style="color: #15e018; cursor: pointer;"
                                                        data-file-path="<%= '/uploads/' + encodeURIComponent(file.filePath.replace(/^.*[\\\/]/, '')) %>"
                                                        data-file-type="<%= file.friendlyFileType %>"
                                                        data-file-name="<%= file.fileName %>"></i>
                                                    <% } else if (file.friendlyFileType==='PDF Document' ) { %>
                                                        <i class="fas fa-file-pdf"
                                                            style="color: #d9534f; cursor: pointer;"
                                                            data-file-path="<%= '/uploads/' + encodeURIComponent(file.filePath.replace(/^.*[\\\/]/, '')) %>"
                                                            data-file-type="<%= file.friendlyFileType %>"
                                                            data-file-name="<%= file.fileName %>"></i>
                                                        <% } else if (file.friendlyFileType==='Word Document' ) { %>
                                                            <i class="fas fa-file-word"
                                                                style="color: #007bff; cursor: pointer;"
                                                                data-file-path="<%= '/uploads/' + encodeURIComponent(file.filePath.replace(/^.*[\\\/]/, '')) %>"
                                                                data-file-type="<%= file.friendlyFileType %>"
                                                                data-file-name="<%= file.fileName %>"></i>
                                                            <% } else if (file.friendlyFileType==='Excel Spreadsheet' )
                                                                { %>
                                                                <i class="fas fa-file-excel"
                                                                    style="color: #28a745; cursor: pointer;"
                                                                    data-file-path="<%= '/uploads/' + encodeURIComponent(file.filePath.replace(/^.*[\\\/]/, '')) %>"
                                                                    data-file-type="<%= file.friendlyFileType %>"
                                                                    data-file-name="<%= file.fileName %>"></i>
                                                                <% } else if
                                                                    (file.friendlyFileType==='PowerPoint Presentation' )
                                                                    { %>
                                                                    <i class="fas fa-file-powerpoint"
                                                                        style="color: #ff9900; cursor: pointer;"
                                                                        data-file-path="<%= '/uploads/' + encodeURIComponent(file.filePath.replace(/^.*[\\\/]/, '')) %>"
                                                                        data-file-type="<%= file.friendlyFileType %>"
                                                                        data-file-name="<%= file.fileName %>"></i>
                                                                    <% } else if (file.friendlyFileType==='MP3 Audio' )
                                                                        { %>
                                                                        <i class="fas fa-file-audio"
                                                                            style="color: #d310e9; cursor: pointer;"
                                                                            data-file-path="<%= '/uploads/' + encodeURIComponent(file.filePath.replace(/^.*[\\\/]/, '')) %>"
                                                                            data-file-type="<%= file.friendlyFileType %>"
                                                                            data-file-name="<%= file.fileName %>"></i>
                                                                        <% } else if
                                                                            (file.friendlyFileType==='MP4 Video' ) { %>
                                                                            <i class="fas fa-film"
                                                                                style="color: #e37c0f; cursor: pointer;"
                                                                                data-file-path="<%= '/uploads/' + encodeURIComponent(file.filePath.replace(/^.*[\\\/]/, '')) %>"
                                                                                data-file-type="<%= file.friendlyFileType %>"
                                                                                data-file-name="<%= file.fileName %>"></i>
                                                                            <% } else { %>
                                                                                <i class="fas fa-file"
                                                                                    style="color: #6c757d; cursor: pointer;"
                                                                                    data-file-path="<%= '/uploads/' + encodeURIComponent(file.filePath.replace(/^.*[\\\/]/, '')) %>"
                                                                                    data-file-type="<%= file.friendlyFileType %>"
                                                                                    data-file-name="<%= file.fileName %>"></i>
                                                                                <% } %>
                                        </td>
                                        <td>
                                            <%= file.friendlyFileType %>
                                        </td>
                                        <td>
                                            <%= file.formattedFileSize %>
                                        </td>
                                        <td>
                                            <%= new Date(file.uploadedAt).toLocaleString('en-GB') %>
                                        </td>
                                        <td>
                                            <%= file.uploadedBy %>
                                        </td>
                                        <!-- <td>
                                            <a href="<%= '/uploads/' + encodeURIComponent(file.filePath.replace(/^.*[\\\/]/, '')) %>"
                                                class="btn btn-primary btn-sm" download="<%= file.fileName %>">
                                                <i class="fas fa-download"></i> Download
                                            </a>
                                        </td> -->
                                        <td>
                                            <a href="<%= '/download/' + encodeURIComponent(file.fileName) %>"
                                               class="btn btn-primary btn-sm">
                                                <i class="fas fa-download"></i> Download
                                            </a>
                                        </td>                                                                              
                                        <td class="delete-column">
                                            <a href="/delete/<%= encodeURIComponent(file.fileName) %>"
                                                class="btn btn-danger btn-sm"
                                                onclick="return confirmDelete('<%= encodeURIComponent(file.fileName) %>')">
                                                <i class="fas fa-trash"></i> Delete
                                            </a>
                                        </td>
                                    </tr>
                                    <% } %>
                                        <% }); %>
                                            <% } else { %>
                                                <tr>
                                                    <td colspan="6" class="text-center">No files uploaded yet.</td>
                                                </tr>
                                                <% } %>

                                                    <% if (publicFiles && publicFiles.length> 0) { %>
                                                        <% publicFiles.forEach(publicFile=> { %>
                                                            <tr>
                                                                <td>
                                                                    <%= publicFile.fileName %>
                                                                        <% if
                                                                            (publicFile.friendlyFileType.includes('Image'))
                                                                            { %>
                                                                            <i class="fas fa-image"
                                                                                style="color: #15e018; cursor: pointer"
                                                                                data-file-path="<%= '/uploads/' + encodeURIComponent(publicFile.filePath.replace(/^.*[\\\/]/, '')) %>"
                                                                                data-file-type="<%= publicFile.friendlyFileType %>"
                                                                                data-file-name="<%= publicFile.fileName %>"></i>
                                                                            <% } else if
                                                                                (publicFile.friendlyFileType==='PDF Document'
                                                                                ) { %>
                                                                                <i class="fas fa-file-pdf"
                                                                                    style="color: #d9534f; cursor: pointer"
                                                                                    data-file-path="<%= '/uploads/' + encodeURIComponent(publicFile.filePath.replace(/^.*[\\\/]/, '')) %>"
                                                                                    data-file-type="<%= publicFile.friendlyFileType %>"
                                                                                    data-file-name="<%= publicFile.fileName %>"></i>
                                                                                <% } else if
                                                                                    (publicFile.friendlyFileType==='Word Document'
                                                                                    ) { %>
                                                                                    <i class="fas fa-file-word"
                                                                                        style="color: #007bff; cursor: pointer"
                                                                                        data-file-path="<%= '/uploads/' + encodeURIComponent(publicFile.filePath.replace(/^.*[\\\/]/, '')) %>"
                                                                                        data-file-type="<%= publicFile.friendlyFileType %>"
                                                                                        data-file-name="<%= publicFile.fileName %>"></i>
                                                                                    <% } else if
                                                                                        (publicFile.friendlyFileType==='Excel Spreadsheet'
                                                                                        ) { %>
                                                                                        <i class="fas fa-file-excel"
                                                                                            style="color: #28a745; cursor: pointer"
                                                                                            data-file-path="<%= '/uploads/' + encodeURIComponent(publicFile.filePath.replace(/^.*[\\\/]/, '')) %>"
                                                                                            data-file-type="<%= publicFile.friendlyFileType %>"
                                                                                            data-file-name="<%= publicFile.fileName %>"></i>
                                                                                        <% } else if
                                                                                            (publicFile.friendlyFileType==='PowerPoint Presentation'
                                                                                            ) { %>
                                                                                            <i class="fas fa-file-powerpoint"
                                                                                                style="color: #ff9900; cursor: pointer"
                                                                                                data-file-path="<%= '/uploads/' + encodeURIComponent(publicFile.filePath.replace(/^.*[\\\/]/, '')) %>"
                                                                                                data-file-type="<%= publicFile.friendlyFileType %>"
                                                                                                data-file-name="<%= publicFile.fileName %>"></i>
                                                                                            <% } else if
                                                                                                (publicFile.friendlyFileType==='MP3 Audio'
                                                                                                ) { %>
                                                                                                <i class="fas fa-file-audio"
                                                                                                    style="color: #d310e9; cursor: pointer"
                                                                                                    data-file-path="<%= '/uploads/' + encodeURIComponent(publicFile.filePath.replace(/^.*[\\\/]/, '')) %>"
                                                                                                    data-file-type="<%= publicFile.friendlyFileType %>"
                                                                                                    data-file-name="<%= publicFile.fileName %>"></i>
                                                                                                <% } else if
                                                                                                    (publicFile.friendlyFileType==='MP4 Video'
                                                                                                    ) { %>
                                                                                                    <i class="fas fa-film"
                                                                                                        style="color: #e37c0f; cursor: pointer"
                                                                                                        data-file-path="<%= '/uploads/' + encodeURIComponent(publicFile.filePath.replace(/^.*[\\\/]/, '')) %>"
                                                                                                        data-file-type="<%= publicFile.friendlyFileType %>"
                                                                                                        data-file-name="<%= publicFile.fileName %>"></i>
                                                                                                    <% } else { %>
                                                                                                        <i class="fas fa-file"
                                                                                                            style="color: #6c757d; cursor: pointer"
                                                                                                            data-file-path="<%= '/uploads/' + encodeURIComponent(publicFile.filePath.replace(/^.*[\\\/]/, '')) %>"
                                                                                                            data-file-type="<%= publicFile.friendlyFileType %>"
                                                                                                            data-file-name="<%= publicFile.fileName %>"></i>
                                                                                                        <% } %>
                                                                </td>
                                                                <td>
                                                                    <%= publicFile.friendlyFileType %>
                                                                </td>
                                                                <td>
                                                                    <%= publicFile.formattedFileSize %>
                                                                </td>
                                                                <td>
                                                                    <%= new
                                                                        Date(publicFile.uploadedAt).toLocaleString('en-GB')
                                                                        %>
                                                                </td>
                                                                <td>admin</td>
                                                                <!-- <td>
                                                                    <a href="<%= '/uploads/' + encodeURIComponent(publicFile.filePath.replace(/^.*[\\\/]/, '')) %>"
                                                                        class="btn btn-primary btn-sm"
                                                                        download="<%= publicFile.fileName %>">
                                                                        <i class="fas fa-download"></i> Download
                                                                    </a>
                                                                </td> -->
                                                                <td>
                                                                    <a href="<%= '/download/' + encodeURIComponent(publicFile.fileName) %>"
                                                                       class="btn btn-primary btn-sm">
                                                                        <i class="fas fa-download"></i> Download
                                                                    </a>
                                                                </td>                                                                
                                                                <td class="delete-column">
                                                                    <a href="/delete/<%= encodeURIComponent(publicFile.fileName) %>"
                                                                        class="btn btn-danger btn-sm"
                                                                        onclick="return confirmDelete('<%= encodeURIComponent(publicFile.fileName) %>')">
                                                                        <i class="fas fa-trash"></i> Delete
                                                                    </a>
                                                                </td>
                                                            </tr>
                                                            <% }); %>
                                                                <% } else { %>
                                                                    <tr>
                                                                        <td colspan="6" class="text-center">No public
                                                                            files available.</td>
                                                                    </tr>
                                                                    <% } %>
                    </tbody>


                </table>
                <div class="mt-4">
                    <a href="/upload" class="btn btn-info m-0" id="upload-section">
                        <i class="fas fa-file"></i> Upload File
                    </a>
                </div>
            </div>
        </div>

        <div class="modal fade" id="previewModal" tabindex="-1" aria-labelledby="previewModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="previewModalLabel">File Preview</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <div id="file-preview"></div>
                    </div>
                </div>
            </div>
        </div>

        <%- include('partials/footer') %>

            <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>

            <script>
                document.querySelectorAll('.fas').forEach(icon => {
                    icon.addEventListener('click', async function () {
                        const filePath = this.getAttribute('data-file-path');
                        const fileName = this.getAttribute('data-file-name');
                        const fileType = this.getAttribute('data-file-type');
                        const previewContainer = document.getElementById('file-preview');

                        if (!fileName || !fileType) {
                            console.error('File name or type is missing');
                            previewContainer.innerHTML = '<p>Unable to preview this file.</p>';
                            return;
                        }

                        try {
                            const response = await fetch(`/preview/${encodeURIComponent(fileName)}`);
                            console.log(`/preview/${encodeURIComponent(fileName)}`);
                            if (!response.ok) {
                                throw new Error('Failed to fetch file preview');
                            }

                            const fileUrl = URL.createObjectURL(await response.blob());

                            if (fileType.includes('Image')) {
                                previewContainer.innerHTML = `<img src="${fileUrl}" alt="File Preview" style="max-width: 100%; height: auto;">`;
                            } else if (fileType === 'PDF Document') {
                                previewContainer.innerHTML = `<iframe src="/preview/${encodeURIComponent(fileName)}" width="100%" height="600px" style="border: none;"></iframe>`;
                            } else if (fileType === 'Word Document') {
                                const googleDocsUrl = `https://docs.google.com/viewer?url=${encodeURIComponent(fileUrl)}&embedded=true`;
                                previewContainer.innerHTML = `<iframe src="${googleDocsUrl}" width="100%" height="400px" style="border: none;"></iframe>`;
                            } else if (fileType === 'Excel Spreadsheet') {
                                const googleSheetsUrl = `https://docs.google.com/spreadsheets/d/e/2PACX-1vT6rB5WkZp9eivUwp1L9cW5j1P1jt5f7-_yTj9h8jIMy4zQm5A1Wrxfz1BoKU4_k5hkt5YkD1gbwR9g/pub?output=html`;
                                previewContainer.innerHTML = `<iframe src="${googleSheetsUrl}" width="100%" height="400px" style="border: none;"></iframe>`;
                            } else if (fileType === 'PowerPoint Presentation') {
                                const googleSlidesUrl = `https://docs.google.com/presentation/d/e/2PACX-1vT6rB5WkZp9eivUwp1L9cW5j1P1jt5f7-_yTj9h8jIMy4zQm5A1Wrxfz1BoKU4_k5hkt5YkD1gbwR9g/pub?output=html`;
                                previewContainer.innerHTML = `<iframe src="${googleSlidesUrl}" width="100%" height="400px" style="border: none;"></iframe>`;
                            } else if (fileType === 'MP3 Audio') {
                                previewContainer.innerHTML = `<audio controls id="audio-player" style="width: 100%; max-width: 600px;">
        <source src="${fileUrl}" type="audio/mpeg">
        Your browser does not support the audio element.
    </audio>`;
                            } else if (fileType === 'MP4 Video') {
                                previewContainer.innerHTML = `<video controls id="video-player" style="width: 100%; max-width: 800px;">
        <source src="${fileUrl}" type="video/mp4">
        Your browser does not support the video element.
    </video>`;
                            } else {
                                previewContainer.innerHTML = `<p>No preview available for this file type. Please download it.</p>`;
                            }

                            const modal = new bootstrap.Modal(document.getElementById('previewModal'));
                            modal.show();

                            const modalElement = document.getElementById('previewModal');
                            modalElement.addEventListener('hidden.bs.modal', function () {
                                previewContainer.innerHTML = '';
                                URL.revokeObjectURL(fileUrl);
                            });
                        } catch (error) {
                            console.error('Error fetching preview:', error);
                            previewContainer.innerHTML = '<p>Failed to load preview. Please try again later.</p>';
                        }
                    });
                });

                function confirmDelete(fileName) {
                    const confirmation = confirm('Are you sure you want to delete the file: ' + decodeURIComponent(fileName) + '?');
                    return confirmation;
                }

                document.addEventListener('DOMContentLoaded', function () {
                    const role = localStorage.getItem('role');
                    console.log('Role from localStorage:', role);
                    if (role === 'sinhvien') {
                        const uploadSection = document.getElementById('upload-section');
                        const deleteColumns = document.querySelectorAll('.delete-column');

                        if (uploadSection) {
                            uploadSection.style.display = 'none';
                            console.log('Upload section hidden');
                        }
                        deleteColumns.forEach(column => {
                            column.style.display = 'none';
                            console.log('Delete column hidden');
                        });
                    } else if (role === 'giangvien') {
                        const deleteColumns = document.querySelectorAll('.delete-column');
                        deleteColumns.forEach(column => {
                            column.style.display = 'none';
                            console.log('Delete column hidden');
                        });
                    }
                });
            </script>

</body>

</html>